﻿.doctree-content {
    width: 1000px;
    cursor: default;
}

    /*div.doctree-content > ul {*/
    .doctree-content .tree-rootnode {
        padding: 0;
        padding-left: 5px;
    }

    .doctree-content .tree-subnode {
        padding: 0;
        padding-left: 20px;
    }



    .doctree-content .leaf.hasChild.open.loading {
        padding: 0px 1px 0px 28px;
        background-image: url('Images/loader-slider.gif');
        background-repeat: no-repeat;
    }


    .doctree-content .leaf.hasChild:before {
        /*content: '▶';*/
        content: '[+] ';
        padding-right: 6px;
        color: green;
    }

    .doctree-content .leaf.hasChild.open:before {
        /*content: '▼';*/
        content: '[-] ';
    }


    .doctree-content .leaf.hasChild > span {
        font-weight: bold;
        cursor: pointer;
    }

    .doctree-content .leaf.hasChild > ul {
        display: none;
        margin: 0;
    }

    .doctree-content .leaf.hasChild.open > ul {
        display: block;
    }
    

        .asmdoc-tree-content1 .leaf.hasChild:before {
        content: '[+] ';
        
        color: red;
    }