﻿
.error-modal-content {
    margin: auto;
    background-color: #fff;
    position: fixed !important;
    left: 50%;
    margin-left: -12.5%;
    width: 500px;
    z-index: 12000;

}

.error-header-footer {
    color: #fff!important;
    background-color: #ff0000!important;
    padding-top: 10px;
   padding-right: 45px;
   padding-left: 20px;
    min-height: 42px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.error-text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    min-height: 120px;
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0;
    bottom: inherit;   
}
/*-------------Error window css*/

