﻿#RepositoryEditor select {
    height: 120px;
}

    #RepositoryEditor select option {
        border-bottom-style: solid;
        border-width: 1px;
    }

        #RepositoryEditor select option:hover {
            /*font-size: 1.3em;*/
            background-color: #00a1ff;
        }

.spoiler_body {
    display: none;
}

.spoiler_links {
    cursor: pointer;
}

#RepositoryEditor textarea {
    width: 370px;
}

.Rerository-List__Wrapper {
    height: 160px;
    background-color: white;
}

.Rerository-List {
    height: inherit;
    overflow: auto;
    list-style: none;
    padding-left: 3px;
}

.Rerository-List__Entity {
    border-bottom-style: solid;
    border-width: 1px;
}

    .Rerository-List__Entity:hover {
        /*font-size: 1.3em;*/
        background-color: #00a1ff;
    }

.Rerository-List__Entity-Buttons {
    float: right;
    display: none;
}

    .Rerository-List__Entity-Buttons a {
        color: #5d2029;
    }
