﻿/*SideBar css-------------*/
.sidebar {
    max-width: 450px;
    background-color: rgb(232, 232, 232);
    position: fixed !important;
    z-index: 11100;
    overflow: auto;
    top: 1px;
    bottom: 1px;
    width: 300px;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
}

.sidebar-right {
    right: -300px;
    transition: right 1s;
    -webkit-transition: right 1s;
    -moz-transition: right 1s;
    -o-transition: right 1s;
}

.sidebar-left {
    left: -300px;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
}

.sidebar-top {
    width: 400px;
    height: 350px;
    top: -350px;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    left: 50%;
    margin-left: -12.5%;
}

#RepositoryEditor {
    padding-left: 5px;
    padding-right: 5px;
}

/*-------------SideBar css*/
