﻿body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

/*input,
select,
textarea {
    max-width: 280px;
}*/

select option {white-space: pre-line;}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}

.sidebar1 {
    height: 100%;
    width: auto;
    min-width: 300px;
    max-width: 450px;
    background-color: #fff;
    position: fixed !important;
    z-index: 10000;
    overflow: auto;
    top: 10px;
    right: 5px;
}


.w3-card1, .w3-card-21 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.noscroll {
    overflow: hidden;
}


/*#region name */



/*#endregion name*/


.w3-modal111 {
    z-index: 11100;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}



.error-header {
    color: #fff!important;
    background-color: #ff0000!important;
    padding: 0.01em 16px

}

.error-container {

    padding: 0.01em 16px

}

.error-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.validationMessage {
    color: #f00;
}