﻿
.mytable {
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.tr1:hover {
    background: #000;
    border: 1px solid rgba(0,0,0,0.5);
}


table#mytable th, table#mytable td {
    text-align: center;
}

.multistringrow1 {
    width: 10px;
}


.nondisplaycol {
    display: none;
}


tr.asmrow > td,
tr.asmrow > th {
    background-color: red;
}

table tr td:nth-child(4){
    width: 200px;
}

