﻿
@{
    Layout = null;
}

@*@model null;//DataModel.SupportClasses.ExceptionHandler.SQLEntityException*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SQLError1</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
