﻿@using Catalog.Web.Models;
@model CRUDModel



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title custom_align" id="Heading">Редактрование записи №@Model.InventarnNum</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        @*<input class="form-control " type="text" placeholder="Tiger Nixon">*@
        <label for="exampleInputEmail1">Username or Email</label>
        @Html.TextBoxFor(m => m.InventarnNum, new { @class = "form-control", placeholder = "Инвентарный номер" })
    </div>
    <div class="form-group">

        @{

        }


        <label for="sdfsdf">Название проекта</label>
        @Html.DropDownListFor(c => ViewBag.ProjectRep,
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "Select Gender")

    </div>
    <div class="form-group">


        <input class="form-control " type="text" placeholder="Edinburgh">

    </div>
</div>
<div class="modal-footer ">
    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
</div>
