﻿
<div id="DocCreateUpdate">
    <div class="modal-header"
         style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0);">
        <button type="button" class="close" data-bind="click: close">×</button>
        <h4 class="modal-title custom_align" id="Heading" data-bind="text: HeaderText"></h4>
    </div>

    <form data-bind="submit: submitData" id="DocForm">
        <div class="modal-body">

            <input data-val="true" data-val-number="Значением поля Id должно быть число."
                   data-val-required="Требуется поле Id." id="Id" name="Id"
                   type="hidden" value="">

            <div class="form-group">
                <label for="InventarnNum">Инвентарный номер</label>
                <input class="form-control" data-bind="value: DocData.InventarnNum" data-val="true"
                       data-val-number="Значением поля Инвентарный номер должно быть число."
                       data-val-required="Требуется поле Инвентарный номер." id="InventarnNum"
                       name="InventarnNum" placeholder="Инвентарный номер" type="text" value="1">

            </div>

            <div class="form-group" id="ProjectName">
                <label for="ProjectName">Название проекта</label>
                <select name="1" data-bind="options: RepProjectName, value: DocData.ProjectName"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label for="Oboznachenie">Обозначение</label>
                <input class="form-control" id="Oboznachenie" name="Oboznachenie"
                       data-bind="value: DocData.Oboznachenie" placeholder="Обозначение"
                       type="text" value="">
            </div>

            <div class="form-group">
                <label for="Naimenovanie">Наименование</label>
                <textarea class="form-control" rows="2" data-bind="value: DocData.Naimenovanie"
                          style="max-width: 245px;"></textarea>
            </div>

            <div class="form-group">
                <label for="Pervichoepreminenie">Первичное применение</label>
                <input class="form-control" id="Pervichoepreminenie" data-bind="value: DocData.Pervichoepreminenie"
                       name="Pervichoepreminenie" placeholder="Первичное применение" type="text" value="">
            </div>

            <div class="form-group" id="Literal">
                <label for="Literal">Литера</label>
                <select name="1" data-bind="options: RepLiteral, value: DocData.Literal" class="form-control"></select>
            </div>

            <div class="form-group">
                <label for="Date">Дата подписания</label>
                <input class="form-control" id="Date" data-bind="value: DocData.Date" name="Date"
                       placeholder="Дата подписания" type="date" value="">
            </div>

            <div class="form-group">
                <label for="IsAsm">Сборка</label>
                <input class="form-control" data-val="true" data-bind="value: DocData.IsAsm" data-val-required="Требуется поле Сборка."
                       id="IsAsm" name="IsAsm" placeholder="Сборка" type="text" value="True">
            </div>

            <div class="form-group" id="Razrabotal">
                <label for="Razrabotal">Разработал</label>

                <select id="Isp1" class="form-control"
                        data-bind="options: RepIspolniteli,  value: DocData.Razrabotal" name=""></select>
            </div>


            <div class="form-group" id="Proveril">
                <label for="Proveril">Проверил</label>

                <select id="Isp1" class="form-control"
                        data-bind="options: RepIspolniteli, value: DocData.Proveril" name=""></select>
            </div>

            <div class="form-group" id="Tehcontrol">
                <label for="Tehcontrol">Технический контроль</label>

                <select id="Isp1" class="form-control"
                        data-bind="options: RepIspolniteli, value: DocData.Tehcontrol," name=""></select>
            </div>

            <div class="form-group" id="Normokontrol">
                <label for="Normokontrol">Нормоконтроль</label>

                <select id="Isp1" class="form-control"
                        data-bind="options: RepIspolniteli, value: DocData.Normokontrol" name=""></select>
            </div>

            <div class="form-group" id="Utverdil">
                <label for="Utverdil">Утвердил</label>

                <select id="Isp1" class="form-control"
                        data-bind="options: RepIspolniteli, value: DocData.Utverdil" name=""></select>
            </div>

            <button type="submit1" onclick="#" class="btn btn-warning btn-lg" style="width: 100%;"
                    data-bind="text: Operation">
                <span class="glyphicon glyphicon-ok-sign"></span>test
            </button>
        </div>
    </form>
</div>
