﻿
@using Catalog.Web.Infrastructure;

@using Catalog.Web.Models;

@model Catalog.Web.Models.NavBarModel



<nav class="navbar navbar-default">
    <div class="container-fluid">

        @Html.SetBrand(Model.Brand, "#")

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- /.navbar-left start -->
            <ul class="nav navbar-nav">

                @Html.GetMenu(Model.NavBarMenuItemsLeft)
            </ul>
            <!-- /.navbar-left end-->
            <!-- /.navbar-right start -->
            <ul class="nav navbar-nav navbar-right">
                @Html.GetMenu(Model.NavBarMenuItemsRight)
            </ul>
            <!-- /.navbar-right end-->


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

</div>
