﻿
@using Catalog.Web.Infrastructure;

@model Catalog.Web.Models.LayoutModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/myscripts")
    @*@RenderSection("scripts", required: false)*@
    @*<link href="~/Content/NavBar.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/site.css" rel="stylesheet" type="text/css" />*@


    <script type="text/javascript">



    </script>


</head>
<body>

    @Html.Hidden("myError", Url.Action(actionName: "MyError", controllerName: "Main"))

    @Html.Hidden("AddUpdateDocJSON", Url.Action(actionName: "AddUpdateDocJSON", controllerName: "Table"))
    @Html.Hidden("AddUpdateRowJSON", Url.Action(actionName: "AddUpdateRowJSON", controllerName: "Table"))
    @Html.Hidden("DeleteRowJSON", Url.Action(actionName: "DeleteRowJSON", controllerName: "Table"))
    @Html.Hidden("GetTable", Url.Action(actionName: "Table", controllerName: "Table"))
    @Html.Hidden("GetRep", Url.Action(actionName: "GetRepository", controllerName: "Repository"))
    @Html.Hidden("AddRep", Url.Action(actionName: "AddToRepository", controllerName: "Repository"))
    @Html.Hidden("DelRep", Url.Action(actionName: "DeleteFromRepository", controllerName: "Repository"))
    @Html.Hidden("RenRep", Url.Action(actionName: "RenameInRepository", controllerName: "Repository"))
    @Html.Hidden("RootTree", Url.Action(actionName: "GetTreeRoot", controllerName: "DocTree"))
    @Html.Hidden("SubTree", Url.Action(actionName: "GetChildNodes", controllerName: "DocTree"))
    @Html.Hidden("AsmRootTree", Url.Action(actionName: "GetAsmTreeRoot", controllerName: "DocTree"))
    @Html.Hidden("AsmSubTree", Url.Action(actionName: "GetAsmChildNodes", controllerName: "DocTree"))





    <div id="loader" data-request-url="@Url.Action(actionName:"RowUpdate3", controllerName:"Table")"></div>

    @{
        Html.RenderPartial("_HeaderNavBar", Model.nbm);
    }
    <div id="overlay"></div>
    <div id="loading-bar" style="align-items: center; margin: auto; width: 250px; display: none;">
        <p><img src="~/Content/Images/ajax-loader_bar.gif" /></p>
        <p style="align-content: center;">Please Wait</p>
    </div>



    <div id="loading-clock" style="display: none;">
        <p><img src="~/Content/Images/ajax-loader_clock.gif" /> Please Wait</p>
    </div>

    @*#region sidebar start*@

    <div class="sidebar w3-bar-block w3-card-2 w3-animate-right" style="display: none; right: 0px;" id="rightMenu">
        <div class="sidebar-content">

        </div>
    </div>
    @*------------------------------------------------------------------------------------------*@

    <div class="sidebar sidebar-right" id="rightsidebar">
        <!--SIDEBAR START-->

        <div class="sidebar-content">
            @{
                Html.RenderPartial("_DocCreateUpdate");
            }
        </div>
        <!--SIDEBAR END-->
    </div>



    <div class="sidebar sidebar-left" id="leftsidebar">
        <!--SIDEBAR START-->
        <div class="sidebar-content">
            <div clas="DocTree">
                <div class="modal-header">
                    <button type="button" class="close" onclick="leftsidebar.Close();">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Дерево<span data-bind="text: DocData.InventarnNum"></span></h4>
                </div>

                <div class="doctree-content">
                    <div class="fulldoc-tree-content">

                    </div>

                    <div class="asmdoc-tree-content">

                    </div>
                </div>


            </div>
        </div>
        <!--SIDEBAR END-->
    </div>



    <div class="sidebar sidebar-top" id="topsidebar">
        <!--SIDEBAR START-->
        <div class="sidebar-content">
            @{
                Html.RenderPartial("_RepositoryEditor");
            }
        </div>
        <!--SIDEBAR END-->
    </div>



    <div class="error-modal " style="display: none;" id="errormodal">
        <div class="error-modal-content ">
            <button type="button" class="close" data-bind="click: Hide">×</button>
            <header class="error-header-footer">
                <div data-bind="text: errorHeader">
                </div>

            </header>

            <div data-bind="text: errorText" class="error-text">
            </div>

            <footer data-bind="text: errorFooter" class="error-header-footer"></footer>

        </div>
    </div>
    @*#region errormodal end*@



    <div class="body-content">
        @RenderBody()

    </div>






</body>
</html>
