﻿<div id="RepositoryEditor">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: close">×</button>
        <h4 class="modal-title custom_align" id="Heading">Редактор справочника: <span data-bind="text: RepositoryName"></span></h4>
    </div>
    <form id="RepositoryForm">

        <div style="display:none">
            <select size="3" height="5" data-bind="options:RepositoryList, value: selectedItem" class="form-control">
                @*<select height="5"  class="form-control">*@
                @*<option disabled>Выберите героя</option>
                    <option value="Чебурашка">Чебурашка</option>
                    <option selected value="Крокодил Гена">Крокодил Гена</option>
                    <option value="Шапокляк">Шапокляк</option>
                    <option value="Крыса Лариса">Крыса Лариса</option>*@
            </select>


            <div>
                <div>
                    <a href="" class="spoiler_links">Добавить</a>
                    <div class="spoiler_body " style="display: none;">
                        <textarea class="form-control add" rows="2" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'
                                  style="max-width: 360px;"></textarea>
                        @*<input  data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'/>*@
                        @*<input data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />*@
                        <button data-bind="click: addItem, enable: ((itemToAdd().length > 0) & (itemToAdd().length < 100))">Добавить</button>
                    </div>
                </div>

                <div>
                    <a href="" class="spoiler_links">Переименовать</a>
                    <div class="spoiler_body " style="display: none;">
                        <textarea class="form-control rename" rows="2" data-bind='value:newName'
                                  style="max-width: 360px;"></textarea>
                        @*<input  data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'/>*@
                        @*<input data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />*@
                        @*<button data-bind="click: addItem, enable: ((newName().length > 0) & (newName().length < 100))">Переименовать</button>*@
                        <button data-bind="click: addItem">Переименовать</button>
                    </div>
                </div>
            </div>
            <button data-bind="click: deleteItem">Удалить</button>
            <div class="modal-body">
            </div>
        </div>

        @*------------------*@
        <div class="Rerository-List__Wrapper">
            <ul class="Rerository-List" data-bind="foreach: RepositoryList">
                <li class="Rerository-List__Entity">
                    <div class="List__Entity__Data">
                        <span data-bind="text: $data"></span>
                        <span class="Rerository-List__Entity-Buttons" style="display: none;">
                            <a href="#" data-bind="click: function() { $parent.renameItem($data, jQuery('.Rerository-List__Entity:hover') )}"> <span class="glyphicon glyphicon-edit"> </a>
                            <a href="#" data-bind="click: $parent.deleteItemByName"> <span class="glyphicon glyphicon-remove"></span> </a>
                        </span>
                    </div>

                </li>
            </ul>


        </div>

        <div class="Entity-Add " >
            <textarea class="form-control add" rows="2" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"'
                      style="max-width: 360px;"></textarea>

            <button data-bind="click: addItem, enable: ((itemToAdd().length > 0) & (itemToAdd().length < 100))">Добавить</button>
        </div>




    </form>
    <script>

        function EntRename1(ent) {
            var self = this;

            var elem = ent;

            var elm1 = $('div.renameElem');
            if (elm1.length) {
                var elm2 = elm1.closest('li')
                elm1.remove();
                elm2.find('div.List__Entity__Data').css("display", "block");
            }



            //renameCancel2();
            //alert(elem.parent().parent().find('span').html())
            //alert(elem.parent('div.List__Entity__Data').html());
            var oldValue = elem.parent().parent().find('span').html();

            elem.closest('div.List__Entity__Data').css("display", "none");

            var li1 = elem.closest('li.Rerository-List__Entity')
            var ta = '<textarea class="form-control add" rows="2" data-bind="value:newName"  style="max-width: 360px;">' + oldValue + '</textarea>'
            var btn = '<p><button data-bind="click: $parent.renameItem">Переименовать</button> <button onclick= "renameCancel()" style = "float:right;" > Отмена</button></p>'
            li1.append('<div class= "renameElem">' + ta + btn + '</div>');

            renameCancel = function () {
                elem.closest('div.List__Entity__Data').css("display", "block");
                $('div.renameElem').remove();
            }

            renameCancel2 = function () {
                var elm1 = $('div.renameElem');
                elm1.closest('div.List__Entity__Data').css("display", "block");
                elm1.remove();
            }



        }



    </script>
</div>
