﻿

@using Catalog.Web.Models;
@model TableInfo

@*<script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@

@*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@






<div class="container1">



    <div>
        @*class="col-md-12"*@
        <div class="table">
            @Html.PageRowCount(Model.ItemsPerPage, "myfunction")

            <table id="mytable" class="table table-bordered table-striped">

                <thead>

                    @*<th><input type="checkbox" id="checkall" /></th>*@
                    @*<th>First Name</th>
                        <th>Last Name</th>
                         <th>Address</th>
                         <th>Email</th>
                         <th>Contact</th>
                          <th>Edit</th>

                           <th>Delete</th>*@

                    @foreach (string colname in Model.ColNames)
                    {

                        if (colname.ToLower() == "id")

                        {
                        <th> </th> }
                        else
                        {
                            <th nowrap>@colname</th>
                        }
                    }

                    <th> </th>
                    <th> </th>
                    </thead>

                    <tbody>

                        @foreach (TableRow tablerow in Model.Rows)
                        {
                            @Html.Partial("_TableRow1", tablerow);
                        }




                    </tbody>
                </table>

                <div class="btn-group">

                    Всего строк @Model.TotalItems
                </div>

                <div class="btn-group pull-right paging">

                    @Html.PageLinks(Model, x => Url.Action("List", new { page = x }), "myfunction")
                </div>


            </div>




            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="modaledit">

                            @*<div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title custom_align" id="Heading">Edit Your Detail1111</h4>
                                </div>
                                  <div class="modal-body">
                                    <div class="form-group">
                                      <input class="form-control " type="text" placeholder="Tiger Nixon">
                                  </div>
                                  <div class="form-group">

                                  <input class="form-control " type="text" placeholder="System Architect">
                                  </div>
                                  <div class="form-group">


                                <input class="form-control " type="text" placeholder="Edinburgh">

                                  </div>
                                </div>
                                    <div class="modal-footer ">
                                  <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                                </div>*@

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>



            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>





        </div>
    </div>