﻿@using Catalog.Web.Models;
@model TableRow

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@


<tr id=@Model.Id>
    <td><input type="checkbox" class="checkthis" /></td>
    <td class="nondisplaycol" nowrap>@Model.Id</td>
    <td nowrap>@Model.InventarnNum</td>
    <td nowrap>@Model.ProjectName</td>
    <td nowrap>@Model.Oboznachenie</tdnowrap>
    <td nowrap>@Model.Naimenovanie</tdnowrap>
    <td nowrap>@Model.Pervichoepreminenie</tdnowrap>
    <td nowrap>@Model.Literal</td>
     <td nowrap>@Model.Date</td>
     <td>
         @{
             if (Model.IsAsm)
             { <input type="checkbox" class="checkthis" checked disabled/>}
             else
             {  { <input type="checkbox" class="checkthis" disabled/>}}
         }

     </td><td>@Model.Razrabotal</td>
    <td nowrap>@Model.Proveril</td>
    <td nowrap>@Model.Tehcontrol</td>
    <td nowrap>@Model.Normokontrol</td>
    <td nowrap>@Model.Utverdil </td>

    <td>
        <p data-placement="top" data-toggle="tooltip" title="Edit">
            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-rownum=@Model.Id onclick="javascript:myRowUpdate(@Model.Id)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </p>
    </td>

    <td>
        <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </p>
    </td>
</tr>




