﻿@model string

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Range Error</title>
</head>
<body>
  <h2>Sorry</h2>
  <span>The value @Model was out of the expected range.</span>
  <div>
    @Html.ActionLink("Change value and try again", "Index")
  </div>
</body>
</html>