﻿@using Catalog.Web.Models;
@model TableRow



<div class="modal-header">
    <button type="button" class="close" onclick="rightsidebarclose();">×</button>


    @{
        if (Model.InventarnNum > 0)
        {
            <h4 class="modal-title custom_align" id="Heading">Редактирование записи №@Model.InventarnNum</h4>
        }
        else
        {
            <h4 class="modal-title custom_align" id="Heading">Создание новой записи</h4>
        }
    }


</div>
<form action="/" id="thisForm">
    <div class="modal-body">

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            <label for="InventarnNum">Инвентарный номер</label>
            @Html.TextBoxFor(m => m.InventarnNum, new { @class = "form-control", placeholder = "Инвентарный номер" })
        </div>

        <div class="form-group" id="ProjectName">
            <label for="ProjectName">Название проекта</label>
            @{
                if (Model.ProjectName != string.Empty)
                {
                    @Html.DropDownList(Model.ProjectName, new SelectList(AppData.ProjectRep.GetList(), Model.ProjectName));
            }
            else
            {
                List<string> lst = AppData.ProjectRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }


            }

        </div>

        <div class="form-group">
            <label for="Oboznachenie">Обозначение</label>
            @Html.TextBoxFor(m => m.Oboznachenie, new { @class = "form-control", placeholder = "Обозначение" })
        </div>

        <div class="form-group">
            <label for="Naimenovanie">Наименование</label>
            @Html.TextBoxFor(m => m.Naimenovanie, new { @class = "form-control", placeholder = "Наименование" })
        </div>

        <div class="form-group">
            <label for="Pervichoepreminenie">Первичное применение</label>
            @Html.TextBoxFor(m => m.Pervichoepreminenie, new { @class = "form-control", placeholder = "Первичное применение" })
        </div>


        <div class="form-group" id="Literal">
            <label for="Literal">Литера</label>
            @*@Html.DropDownList(@Model.Literal, new SelectList(AppData.LiteralRep.GetList(), @Model.Literal))*@

            @{
                if (Model.Literal != string.Empty)
                {
                    @Html.DropDownList(Model.Literal, new SelectList(AppData.LiteralRep.GetList(), Model.Literal));
            }
            else
            {
                List<string> lst = AppData.LiteralRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }


            }


        </div>

        <div class="form-group">
            <label for="Date">Дата подписания</label>
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "Дата подписания" })
        </div>

        <div class="form-group">
            <label for="IsAsm">Сборка</label>
            @Html.TextBoxFor(m => m.IsAsm, new { @class = "form-control", placeholder = "Сборка" })
        </div>

        <div class="form-group" id="Proveril">
            <label for="Proveril">Проверил</label>
            @*@Html.DropDownList(@Model.Proveril, new SelectList(AppData.IspolniteliRep.GetList(), @Model.Proveril))*@

            @{
                if (Model.Proveril != string.Empty)
                {
                    @Html.DropDownList(Model.Proveril, new SelectList(AppData.IspolniteliRep.GetList(), Model.Proveril));
            }
            else
            {
                List<string> lst = AppData.IspolniteliRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }


            }



        </div>

        <div class="form-group" id="Razrabotal">
            <label for="Razrabotal">Разработал</label>
            @*@Html.DropDownList(@Model.Razrabotal, new SelectList(AppData.IspolniteliRep.GetList(), @Model.Razrabotal))*@
            @{
                if (Model.Razrabotal != string.Empty)
                {
                    @Html.DropDownList(Model.Razrabotal, new SelectList(AppData.IspolniteliRep.GetList(), Model.Razrabotal));
            }
            else
            {
                List<string> lst = AppData.IspolniteliRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }


            }
        </div>

        <div class="form-group" id="Tehcontrol">
            <label for="Tehcontrol">Тех контроль</label>
            @*@Html.DropDownList(@Model.Tehcontrol, new SelectList(AppData.IspolniteliRep.GetList(), @Model.Tehcontrol))*@
            @{
                if (Model.Tehcontrol != string.Empty)
                {
                    @Html.DropDownList(Model.Tehcontrol, new SelectList(AppData.IspolniteliRep.GetList(), Model.Tehcontrol));
            }
            else
            {
                List<string> lst = AppData.IspolniteliRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }


            }
        </div>

        <div class="form-group" id="Normokontrol">
            <label for="Normokontrol">Нормоконтроль</label>
            @*@Html.DropDownList(@Model.Normokontrol, new SelectList(AppData.IspolniteliRep.GetList(), @Model.Normokontrol))*@
            @{
                if (Model.Normokontrol != string.Empty)
                {
                    @Html.DropDownList(Model.Normokontrol, new SelectList(AppData.IspolniteliRep.GetList(), Model.Normokontrol));
            }
            else
            {
                List<string> lst = AppData.IspolniteliRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }
            }
        </div>


        <div class="form-group" id="Utverdil">
            <label for="Utverdil">Утвердил</label>
            @*@Html.DropDownList(@Model.Utverdil, new SelectList(AppData.IspolniteliRep.GetList(), @Model.Utverdil))*@
            @{
                if (Model.Utverdil != string.Empty)
                {
                    @Html.DropDownList(Model.Utverdil, new SelectList(AppData.IspolniteliRep.GetList(), Model.Utverdil));
            }
            else
            {
                List<string> lst = AppData.IspolniteliRep.GetList();
                    @Html.DropDownList(lst[0], new SelectList(lst, lst[0]));
            }
            }
        </div>


        @{
            if (Model.Id > 0)
            {
                <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Обновить</button>
            }
            else
            {
                <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Создать</button>
            }

        }



        

    </div>
    @*<div class="modal-footer ">
            <button   type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
        </div>*@

</form>



<script>
// Attach a submit handler to the form
$( "#thisForm" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
    var $form = $(this),
    Id = $("#Id").val(),
    InventarnNum = $("#InventarnNum").val(),
    ProjectName = $("div#ProjectName select").val(),
    Oboznachenie = $("#Oboznachenie").val(),
    Naimenovanie = $("#Naimenovanie").val(),
    Pervichoepreminenie = $("#Pervichoepreminenie").val(),
    Literal = $("div#Literal select").val(),
    Date = $("#Date").val(),
    IsAsm = $("#IsAsm").val(),
    Proveril = $("div#Proveril  select").val(),
    Razrabotal = $("div#Razrabotal  select").val(),
    Tehcontrol = $("div#Tehcontrol  select").val(),
    Normokontrol = $("div#Normokontrol  select").val(),
    Utverdil = $("div#Utverdil  select").val();




  //alert(("InventarnNum:" + InventarnNum + " ProjectName:" + ProjectName + " Naimenovanie:" + Naimenovanie
  //      + "\n Pervichoepreminenie:" + Pervichoepreminenie + " Literal:" + Literal + " Date:" + Date
  //      + "\n IsAsm:" + IsAsm + "Proveril:" + Proveril + " Razrabotal:" + " Razrabotal:" + Razrabotal
  //      + "\n Tehcontrol:" +  " Tehcontrol:"  +  Tehcontrol  + " Utverdil:" + Utverdil))

        $.ajax({
            @*url: '@Url.Action(actionName:"UpdateRow", controllerName:"Table")',*@
            url: '@Url.Action(actionName:"AddRow", controllerName:"Table")', 
            data: {
                "Id": Id,
                "InventarnNum": InventarnNum,
                "ProjectName": ProjectName,
                "Oboznachenie": Oboznachenie,
                "Naimenovanie": Naimenovanie,
                "Pervichoepreminenie": Pervichoepreminenie,
                "Literal": Literal,
                "Date": Date,
                "IsAsm": IsAsm,
                "Proveril": Proveril,
                "Razrabotal": Razrabotal,
                "Tehcontrol": Tehcontrol,
                "Normokontrol": Normokontrol,
                "Utverdil": Utverdil
                  },
            success: function () {

                $('button.close').click().ready(function(){mytable(1); alert("asdasd")})
                //alert("success CreateUpdate");
                //mytable(1);
            },
             complete: function () {


                //alert("complete CreateUpdate");

            },

            HttpMethod : "POST",
            //UpdateTargetId: "MainTable",
        })
});


</script>