﻿@using Catalog.Web.Models;
@model TableRow

@*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@


<tr id=@Model.Id>
    <td><input type="checkbox" class="checkthis" /></td>
    <td class="nondisplaycol" nowrap>@Model.Id</td>
    <td nowrap>@Model.InventarnNum</td>
    <td nowrap>@Model.ProjectName</td>
    <td nowrap>@Model.Oboznachenie</tdnowrap>
    <td nowrap>@Model.Naimenovanie</tdnowrap>
    <td nowrap>@Model.Pervichoepreminenie</tdnowrap>
    <td nowrap>@Model.Literal</td> 
    <td nowrap>@DateTime.Parse(Model.Date).ToString("dd.MM.yyyy")</td>
    <td>
        @{
            if (Model.IsAsm)
            { <p class="bg-primary">Да</p>         }
            else
            {
                { <p class="bg-info">Нет</p>}
            }
        }

    </td>
    <td>@Model.Razrabotal</td>
    <td nowrap>@Model.Proveril</td>
    <td nowrap>@Model.Tehcontrol</td>
    <td nowrap>@Model.Normokontrol</td>
    <td nowrap>@Model.Utverdil </td>
    
    <td>
        <p data-placement="top" data-toggle="tooltip" title="Edit">
            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal1" data-target="#edit" data-rownum=@Model.Id onclick="javascript:MyTable.AddUpdateRow(@Model.Id)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </p>
    </td>

    <td>
        <p data-placement="top" data-toggle="tooltip" title="Delete"> 
            <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal1" data-rownum=@Model.Id onclick="javascript:MyTable.DeleteDoc(@Model.Id)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </p>
    </td>
</tr>
