﻿

@using Catalog.Web.Models;
@model TableInfo
@*@model string*@

@*<script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>*@

@*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@






<div class="container1">


    @Html.PageRowCount(Model.ItemsPerPage, "GetTable")

    <div class="mytable horizontalscroll">
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
                @foreach (string colname in Model.ColNames)
                {
                    if (colname.ToLower() == "id")
                    {
                    <th> </th> }
                    else
                    {
                        <th nowrap>@colname</th>
                    }
                }
                <th> </th>
                <th> </th>
                </thead>
                <tbody>

                    @foreach (TableRow tablerow in Model.Rows)
                    {
                        @Html.Partial("TableRow", tablerow);
                    }
                </tbody>
            </table>

        </div>
        <div class="table-sub">
            <div class="btn-group">

                Всего строк  <span class="badge">@Model.TotalItems</span>
            </div>

            <div class="btn-group pull-right paging">
                <span>    @Html.PageRowCount(Model.ItemsPerPage, "GetTable")</span> 
                <span> @Html.PageLinks(Model, x => Url.Action("List", new { page = x }), "GetTable")</span> 
            </div>

        </div>

    </div>
