﻿@model Catalog.Web.Models.LayoutModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<script>

    $(document).ready(function () {
            //const errorViewModel = new ErrorViewModel();
            //window.ErrorWindow = errorViewModel;
            //ko.applyBindings(errorViewModel, document.getElementById('errormodal'));

    });

    function mytable1(CurPage, ItemsPerPage) {
        $.ajax({
            url: '@Url.Action(actionName:"Table", controllerName:"Table")',

            beforeSend: function () {
                $("#MainTable").html('');
                $("#loading-bar").show();
            },

            data: {
                "curPage": CurPage,
                "itemsPerPage": ItemsPerPage
            },

            complete: function () {
                $("#loading-bar").hide();
            },

            success: function (result) {
                $("#MainTable").html(result);
            },
            HttpMethod: "GET",
        })
    }

    function myRowUpdate1(RowIndex) {
        $.ajax({
            url: '@Url.Action(actionName:"RowUpdate", controllerName:"Table")',
            data: {
                "rowIndex": RowIndex,
            },
            success: function (result) {
                $("#modaledit").html(result);
            },

            HttpMethod: "GET",
        })
    }
</script>

<div> table2 __ start111 </div>
<div id="MainTable">
    <script>
        
        //var iiiidfia = 1;
       
        //GetTable(1);
    </script>
</div>


@Html.ActionLink("MyError", actionName: "MyError");

<button id="ajaxerror" class="btn btn-warning btn-lg" style="width: 100%;"> <span class="glyphicon glyphicon-ok-sign""></span>ajaxerror JQuery exception</button>
<button id="errortest" class="btn btn-warning btn-lg" style="width: 100%;" onclick="javascript:errortest()"><span class="glyphicon glyphicon-ok-sign" "></span>errortest exception</button>
<div>table2 end</div>

<script>

    $("#ajaxerror").on("click", function (event) {

        var xx = $("#myError").val();

        $.ajax({
            url: xx,

            success: function () {

            },

            type: "POST",

            error: function (xhr, status, err) {
                
            //alert("error ajaxerror0");
            $("#rightMenu div.sidebar-content").html(xhr.responseText);
            $("#overlay").addClass("overlay");
            $("body").addClass("noscroll");
            openRightMenu();
            }
        })
    });


</script>